<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CGWindowList.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CA31DD4F23C7453F007AF2A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA31DD6523C74544007AF2A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA31DD7023C74544007AF2A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
